/build
/dataset

/*.exe
/*.obj
/*.o
/*.out
/CMakeFiles
/CMakeCache.txt
/Makefile
/*.log
/.vs
/.vscode
/.idea
*.sln
*.vcxproj*
/bin
.github

*.jpg
*.jpeg
*.png
*.bmp
*.gif
*.tiff
*.tif
*.webp
*.svg

*.mp4
*.avi
*.mov
*.mkv
*.wmv
*.flv
*.webm
*.mpg
*.mpeg
*.3gp
*.m4v